<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>Fire Mountain Merit Badge Registration</title>
        <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css" media="all">
        <link href="../styles/jquery.bootgrid.min.css" rel="stylesheet" />
        <link href="../styles/styles.css" rel="stylesheet" />
        <script src="../scripts/jquery-3.2.1.min.js"></script>
        <script src="../scripts/bootstrap.min.js"></script>
        <script src="../scripts/jquery.bootgrid.min.js"></script>
        <script src="../scripts/angular.min.js"></script>
        <script src="../scripts/angular-messages.min.js"></script>
    </head>
    <body ng-app="app" ng-controller="formCtrl" id="mycontroller">
        <div class="container">
            <section id="intro">
                <header>
                    <h2>Fire Mountain</h2>
                    <h2>Merit Badge Registration</h2>
                    <div id="logo_container" class="pull-right"><img src="http://firemtn.org/images/fm_logo_new_full_color_no_words.png" alt=""></div>
                </header>
            </section>  
            <div class="">
                <div class="col-sm-12">
                    <div class="well clearfix">
                        <div class="pull-left">
                            <h2 id="reg_title"></h2>
                            <p><a href="https://www.mountbakerbsa.org/camping/fire-mountain-scout-camp/" target="_blank">Registration Frequently Asked Questions</a></p>
                            <p><a href="../classlist" target="_blank">Class List Details</a></p>
                        </div>
                        <div class="pull-right" style="padding-top: 25px">
                            <button type="button" class="btn btn-primary" id="btn_logout" data-row-id="0">
                                <span class="glyphicon glyphicon-asterisk"></span>Logout</button>
                        </div>
                    </div>
                    <table id="scout_reg_grid" class="table table-condensed table-hover table-striped" width="90%" cellspacing="0" data-toggle="bootgrid">
                        <thead>
                            <tr>
                                <th data-column-id="scout_id" data-type="numeric" data-identifier="true" data-visible="false">ScoutID</th>
                                <th data-column-id="scout_first">First</th>
                                <th data-column-id="scout_last">Last</th>
                                <th data-column-id="scout_age" data-visible="false">Age</th>
                                <th data-column-id="scout_rank" data-visible="false">Rank</th>
                                <th data-column-id="scout_pref1" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">1st</th>
                                <th data-column-id="scout_pref2" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">2nd</th>
                                <th data-column-id="scout_pref3" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">3rd</th>
                                <th data-column-id="scout_pref4" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">4th</th>
                                <th data-column-id="scout_pref5" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">5th</th>
                                <th data-column-id="scout_pref6" data-css-class="hidden-xs hidden-sm" data-header-css-class="hidden-xs hidden-sm">6th</th>
                                <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="pull-left" style="padding-top: 25px">
                            <button type="button" class="btn btn-primary" id="btn_add_modal" data-row-id="0" ng-click="add_reset()">
                                <span class="glyphicon glyphicon-plus"></span> Add Scout</button>
                        </div>
                </div>
            </div>
        </div>

        <div id="add_model" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Registration</h4>
                    </div>
                    <form method="post" id="frm_add" name="frm_add" novalidate>
                        <div class="modal-body">
                            <input type="hidden" value="add" name="action" id="action">
                            <div class="form-group">
                                <label for="first" class="control-label">First Name:</label>
                                <input type="text" class="form-control" id="first" name="first" ng-model="first" required/>
                                <div ng-messages="frm_add.first.$error" ng-if="frm_add.first.$touched">
                                    <div ng-message="required" class="help-block">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last" class="control-label">Last Name:</label>
                                <input type="text" class="form-control" id="last" name="last" ng-model="last" required/>
                                <div ng-messages="frm_add.last.$error" ng-if="frm_add.last.$touched">
                                    <div ng-message="required" class="help-block">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age" class="control-label">Age:</label>
                                <input type="text" class="form-control numbersOnly" id="age" name="age" ng-model="age" ng-blur="ageChange(age)" required/>
                                <div ng-messages="frm_add.age.$error" ng-if="frm_add.age.$touched">
                                    <div ng-message="required" class="help-block">Age is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rank" class="control-label">Rank:</label>
                                <select class="form-control" id="rank" name="rank" ng-model="rank" ng-options="rank.rank_name for rank in Ranks track by rank.rank_id">
                                    <option value="">Select rank</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref1" class="control-label">1st Preference:</label>
                                <select class="form-control" id="pref1" name="pref1" ng-model="pref1_class" ng-options="pref1_class.class_name for pref1_class in Classes track by pref1_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref2" class="control-label">2nd Preference:</label>
                                <select class="form-control" id="pref2" name="pref2" ng-model="pref2_class" ng-options="pref2_class.class_name for pref2_class in Classes track by pref2_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref3" class="control-label">3rd Preference:</label>
                                <select class="form-control" id="pref3" name="pref3" ng-model="pref3_class" ng-options="pref3_class.class_name for pref3_class in Classes track by pref3_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref4" class="control-label">4th Preference:</label>
                                <select class="form-control" id="pref4" name="pref4" ng-model="pref4_class" ng-options="pref4_class.class_name for pref4_class in Classes track by pref4_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref5" class="control-label">5th Preference:</label>
                                <select class="form-control" id="pref5" name="pref5" ng-model="pref5_class" ng-options="pref5_class.class_name for pref5_class in Classes track by pref5_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref6" class="control-label">6th Preference:</label>
                                <select class="form-control" id="pref6" name="pref6" ng-model="pref6_class" ng-options="pref6_class.class_name for pref6_class in Classes track by pref6_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                    </div>
                    <div id="error_msg"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                        <button type="button" id="btn_add" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="edit_model" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit Registration</h4>
                    </div>
                    <form method="post" id="frm_edit" name="frm_edit" novalidate>
                        <div class="modal-body">
                            <input type="hidden" value="edit" name="action" id="action">
                            <input type="hidden" value="0" name="edit_scout_id" id="edit_scout_id">
                            <div class="form-group">
                                <label for="first" class="control-label">First Name:</label>
                                <input type="text" class="form-control" id="edit_first" name="edit_first" ng-model="edit_first" required/>
                                <div ng-messages="frm_edit.edit_first.$error" ng-if="frm_edit.edit_first.$touched">
                                    <div ng-message="required" class="help-block">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last" class="control-label">Last Name:</label>
                                <input type="text" class="form-control" id="edit_last" name="edit_last" ng-model="edit_last" required/>
                                <div ng-messages="frm_edit.edit_last.$error" ng-if="frm_edit.edit_last.$touched">
                                    <div ng-message="required" class="help-block">Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age" class="control-label">Age:</label>
                                <input type="text" class="form-control numbersOnly" id="edit_age" name="edit_age" ng-model="edit_age" ng-blur="ageChange(edit_age)" required/>
                                <div ng-messages="frm_edit.edit_age.$error" ng-if="frm_edit.edit_age.$touched">
                                    <div ng-message="required" class="help-block">Age is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rank" class="control-label">Rank:</label>
                                <select class="form-control" id="edit_rank" name="edit_rank" ng-model="rank" ng-options="rank.rank_name for rank in Ranks track by rank.rank_id">
                                    <option value="">Select rank</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref1" class="control-label">1st Preference:</label>
                                <select class="form-control" id="edit_pref1" name="edit_pref1" ng-model="pref1_class" ng-options="pref1_class.class_name for pref1_class in Classes track by pref1_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref2" class="control-label">2nd Preference:</label>
                                <select class="form-control" id="edit_pref2" name="edit_pref2" ng-model="pref2_class" ng-options="pref2_class.class_name for pref2_class in Classes track by pref2_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref3" class="control-label">3rd Preference:</label>
                                <select class="form-control" id="edit_pref3" name="edit_pref3" ng-model="pref3_class" ng-options="pref3_class.class_name for pref3_class in Classes track by pref3_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref4" class="control-label">4th Preference:</label>
                                <select class="form-control" id="edit_pref4" name="edit_pref4" ng-model="pref4_class" ng-options="pref4_class.class_name for pref4_class in Classes track by pref4_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref5" class="control-label">5th Preference:</label>
                                <select class="form-control" id="edit_pref5" name="edit_pref5" ng-model="pref5_class" ng-options="pref5_class.class_name for pref5_class in Classes track by pref5_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pref6" class="control-label">6th Preference:</label>
                                <select class="form-control" id="edit_pref6" name="edit_pref6" ng-model="pref6_class" ng-options="pref6_class.class_name for pref6_class in Classes track by pref6_class.class_id">
                                    <option value="">Select preference</option>
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="btn_edit" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="delete_model" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Registration</h4>
                    </div>
                    <form method="post" id="frm_delete" name="frm_delete" novalidate>
                        <div class="modal-body">
                            <input type="hidden" value="delete" name="action" id="action">
                            <input type="hidden" value="0" name="delete_scout_id" id="delete_scout_id">
                            <p id="delete_msg">Place holder delete message?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" id="btn_delete" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var app = angular.module('app', ['ngMessages']);
            app.controller('formCtrl', function($scope, $http) {
                /*
                 * Resets the fields on the Add modal dialog.
                 * Clears all of the validation indicators and error messages.
                 * Clears the list of classes and resets all to their default options.
                 */
                $scope.add_reset = function() {
                    this.frm_add.$setPristine();
                    this.frm_add.$setUntouched();
                    $('#error_msg').html('');
                    
                    $scope.first = "";
                    $scope.last = "";
                    $scope.age = "";
                    $scope.rank = "";
                    $scope.pref1_class = "";
                    $scope.pref2_class = "";
                    $scope.pref3_class = "";
                    $scope.pref4_class = "";
                    $scope.pref5_class = "";
                    $scope.pref6_class = "";
                    $scope.Classes = "";
                };
                
                /*
                 * Gets the list of classes based on the age being registered,
                 * updates the Classes object based on the call to the service.
                 */
                $scope.ageChange = function(age) {
                  $http.get("registrationsvc.php?action=classList&age=" + age)
                    .then(function(response) {
                        $scope.Classes = response.data;
                    });
                };
                
                /*
                 * Sets up the Edit modal dialog fields with the values from the
                 * service.  Calls the ageChange() function to load the list of classes
                 * based on the age being registered, then sets all the select
                 * boxes to the values saved for this record.
                 */
                $scope.setEdit = function(response) {
                    $scope.ageChange(response.scout_age);
                    $('#edit_scout_id').val(response.scout_id);
                    $scope.edit_first = response.scout_first;
                    $scope.edit_last = response.scout_last;
                    $scope.edit_age = response.scout_age;
                    $scope.rank = {rank_id: response.scout_rank_id, rank_name: response.scout_rank};
                    $scope.pref1_class = {class_id: response.scout_pref1_id, class_name: response.scout_pref1};
                    $scope.pref2_class = {class_id: response.scout_pref2_id, class_name: response.scout_pref2};
                    $scope.pref3_class = {class_id: response.scout_pref3_id, class_name: response.scout_pref3};
                    $scope.pref4_class = {class_id: response.scout_pref4_id, class_name: response.scout_pref4};
                    $scope.pref5_class = {class_id: response.scout_pref5_id, class_name: response.scout_pref5};
                    $scope.pref6_class = {class_id: response.scout_pref6_id, class_name: response.scout_pref6};
                };
        
                /*
                 * Sets the Ranks object to the list of ranks returned from the service.
                 */
                $http.get("registrationsvc.php?action=rankList")
                    .then(function(response) {
                        $scope.Ranks = response.data;
                    });
            });
            
            $(document).ready(function () {

                //Validate login token and set banner text
                $.ajax({
                    type: "POST",
                    url: "registrationsvc.php",
                    data: {'action': 'getUnitInfo'},
                    dataType: "json",
                    success: function (response)
                    {
                        if(response.success == 'true')
                        {
                            var welcome_msg = 'Registration for ' + response.unit_type + ' ' + response.unit_number + ' Week ' + response.week_number + ' - ' + response.week_date_text;
                            $('#reg_title').html(welcome_msg);
                        }
                        else
                        {
                            window.location = "../"
                        }
                    }
                });

                /*
                 * jQuery Bootgrid control setup
                 * 
                 * http://www.jquery-bootgrid.com/Documentation
                 */
                var grid = $("#scout_reg_grid").bootgrid({
                    ajax: true,
                    rowSelect: false,
                    rowCount: -1, // Disable pagination (returns all rows)
                    navigation: 0,
                    post: function ()
                    {
                        /* To accumulate custom parameter with the request object */
                        return {
                            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                        };
                    },

                    url: "registrationsvc.php",
                    formatters: {
                        "commands": function (column, row)
                        {
                            return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.scout_id + "\"><span class=\"glyphicon glyphicon-edit\"></span></button> " +
                                    "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.scout_id + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                        }
                    }
                }).on("loaded.rs.jquery.bootgrid", function ()
                {
                    /*
                     * Event listener for the 'Edit' button click.
                     */
                    grid.find(".command-edit").on("click", function (e)
                    {
                        //alert("You pressed edit on row: " + $(this).data("row-id"));
                        var ele = $(this).parent();

                        $('#edit_model').modal('show');
                        if ($(this).data("row-id") > 0) {
                            $.ajax({
                                type: "POST",
                                url: "registrationsvc.php",
                                data: {'action': 'getScoutReg', 'scoutId': $(this).data("row-id")},
                                dataType: "json",
                                success: function (response)
                                {
                                    angular.element('#mycontroller').scope().setEdit(response);
                                    angular.element('#mycontroller').scope().$apply();
                                }
                            });                    
                        } 
                    // Event listener for the 'Delete' button click.
                    }).end().find(".command-delete").on("click", function (e)
                    {
                        var ele = $(this).parent();
                        var del_conf_msg = 'Delete registration for ' + ele.siblings(':nth-of-type(1)').html() + ' ' + ele.siblings(':nth-of-type(2)').html() + '?';
                        
                        $('#delete_scout_id').val($(this).data("row-id"));
                        $('#delete_msg').html(del_conf_msg);
                        $('#delete_model').modal('show');
                    });
                });

                // Grid ajax action function for Add/Edit calls
                function ajaxAction(action) {
                    data = $("#frm_" + action).serializeArray();
                    $.ajax({
                        type: "POST",
                        url: "registrationsvc.php",
                        data: data,
                        dataType: "json",
                        success: function (response)
                        {
                            $('#' + action + '_model').modal('hide');
                            $("#scout_reg_grid").bootgrid('reload');
                        }
                    });
                }

                // Delete operations
                $("#btn_delete").click(function () {
                    ajaxAction('delete');
                });

                // Add operations
                $("#btn_add_modal").click(function () { 
                    $('#add_model').modal('show');
                });
                $("#btn_add").click(function () {
                    if($('#frm_add')[0].checkValidity())
                    {
                        $('#error_msg').html('');
                        ajaxAction('add');
                    }
                    else
                    {
                        $('#error_msg').html('<h3>Name and age are required</h3>');
                    }
                });
                

               // Edit record button click event to load the modal box
                $("#btn_edit").click(function () {
                    if($('#frm_edit')[0].checkValidity())
                    {
                        ajaxAction('edit');
                    }
                });

                // Logout button click
                $('#btn_logout').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "registrationsvc.php",
                        data: {'action': 'logout'},
                        dataType: "json",
                        success: function (response)
                        {
                            if(response.success == 'true')
                            {
                                window.location = "../"
                            }
                        }
                    });
                });

                // Ensure certain fields only allow whole numbers
                $('.numbersOnly').keyup(function () { 
                    this.value = this.value.replace(/[^0-9]/g,'');
                });
            });
        </script>
    </body>
</html>