<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Fire Mountain Merit Badge Registration</title>
        <link rel="stylesheet" href="../../styles/bootstrap.min.css" type="text/css" media="all">
        <link href="../../styles/jquery.bootgrid.min.css" rel="stylesheet" />
        <link href="../../styles/styles.css" rel="stylesheet" />
        <script src="../../scripts/jquery-3.2.1.min.js"></script>
        <script src="../../scripts/bootstrap.min.js"></script>
        <script src="../../scripts/jquery.bootgrid.min.js"></script>
        <script src="../../scripts/angular.min.js"></script>
        <script src="../../scripts/angular-messages.min.js"></script>
    </head>
    <body ng-app="app" ng-controller="formCtrl" id="mycontroller">
        <div class="container">
            <section id="intro" class="dont-print">
                <header>
                    <h2>Fire Mountain</h2>
                    <h2>Merit Badge Registration</h2>
                    <div id="logo_container" class="pull-right"><img src="http://firemtn.org/images/fm_logo_new_full_color_no_words.png" alt=""></div>
                </header>
            </section>  
            <div class="">
                <div class="col-sm-12">
                    <div class="well clearfix dont-print">
                        <div class="pull-left">
                            <h2 id="admin_title">Merit Badge Registration Administration</h2>
                        </div>
                        <div class="pull-right" style="padding-top: 25px">
                            <button type="button" class="btn btn-primary" id="btn_logout" data-row-id="0">
                                <span class="glyphicon glyphicon-asterisk"></span>Logout</button>
                        </div>
                    </div>
                    <ul class="dont-print">
                        <li><a href="../">Home</a></li>
                        <li><a class="active" href="./">Schedule View/Generate</a></li>
                        <li><a href="../viewpreferences">Preferences View</a></li>
                        <li><a href="../sessionmgmt">Class/Session Management</a></li>
                        <li><a href="../emailaccounts">Email Account Information</a></li>
                        <li id="Unit_Reg" style="display: none;"><a href="../../registration">Unit Registration</a></li>
                    </ul>
                    <div class="inline-form-group dont-print">
                        <label class="control-label">Select Week:</label>
                        <select class="form-control inline-form" id="weekSel" name="weekSel" ng-model="weekSelected" ng-options="Week.week_text for Week in Weeks track by Week.week_id" ng-change="weekChanged()">
                        </select>                        
                        <label id="viewLbl" class="control-label">Select View:</label>
                        <select class="form-control inline-form" id="viewSel" name="viewSel" ng-model="viewSelected" ng-options="View.view_text for View in Views track by View.view_id" ng-change="viewChanged()">
                        </select>
                        <button type="button" class="btn btn-xs btn-primary" id="btn_generate_schedule" data-row-id="0" ng-click="generateSchedule()">
                                <span class="glyphicon glyphicon-asterisk"></span>Generate / Regenerate Schedule</button>
                        <button type="button" class="btn btn-xs btn-primary" id="btn_print_schedule" data-row-id="0" ng-click="print()">
                                <span class="glyphicon glyphicon-print"></span>  Print Schedule</button>
                    </div>
                    <div class="unit-schedule" ng-show="unitView" ng-repeat="u in Units">
                        <h2>{{u.unit_type}} {{u.unit_number}} - {{u.council_name}}</h2>
                        <table class="scout-schedule">
                            <tr>
                                <th>Scout</th>
                                <th>{{u.start1}} - {{u.end1}}</th>
                                <th>{{u.start2}} - {{u.end2}}</th>
                                <th>{{u.start3}} - {{u.end3}}</th>
                                <th>{{u.start4}} - {{u.end4}}</th>
                            </tr>
                            <tr ng-repeat="s in u.scout_list">
                              <td>{{s.first_name}} {{s.last_name}}</td>
                              <td>{{s.class_list[1].mb_name}}</td>
                              <td>{{s.class_list[2].mb_name}}</td>
                              <td>{{s.class_list[3].mb_name}}</td>
                              <td>{{s.class_list[4].mb_name}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="session-schedule" ng-show="!unitView" ng-repeat="cs in Sessions">
                        <h2>{{cs.mb_name}}  {{cs.start_time}} - {{cs.end_time}}</h2>
                        <div ng-repeat="s in cs.scout_list">
                            <h4>{{s.first_name}} {{s.last_name}} - {{s.unit_number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var app = angular.module('app', ['ngMessages']);
            app.controller('formCtrl', function($scope, $http) {
                
                $scope.unitView = true;  // Default View is 'By Unit'
        
                /*
                 * Calls the Schedule service to get the data for the Weeks select box
                 */
                $http.get("schedulesvc.php?action=getWeeks")
                    .then(function(response) {
                        $scope.Weeks = response.data;
                        $scope.weekSelected = $scope.Weeks[0];
                        $scope.weekChanged();
                    });
                
                // The array of options in the Views select box.
                $scope.Views = [{view_id: 1,
                                view_text: 'By Unit'}, 
                                {view_id: 2,
                                view_text: 'By Class Session'}];
                $scope.viewSelected = $scope.Views[0];
                
                /*
                 * Call the Schedule service to get the JSON for the current schedule.
                 */
                $scope.weekChanged = function() {
                    $http.get("schedulesvc.php?action=getScheduleByUnit&week=" + $scope.weekSelected.week_id)
                     .then(function(response) {
                        $scope.Units = response.data;
                    });
                    $http.get("schedulesvc.php?action=getScheduleBySession&week=" + $scope.weekSelected.week_id)
                     .then(function(response) {
                        $scope.Sessions = response.data;
                    });
                };
                
                /*
                 * Set the flag to change how the schedule is displayed; by unit or by session
                 */
                $scope.viewChanged = function() {
                    if($scope.viewSelected.view_id == 1)
                    {
                        $scope.unitView = true;
                    }
                    else
                    {
                        $scope.unitView = false;
                    }
                };
                
                /*
                 * Call the Schedule service to build a new schedule based on
                 * current preferences and refresh the display.
                 */
                $scope.generateSchedule = function() {
                  $http.get("schedulesvc.php?action=buildSchedule&week=" + $scope.weekSelected.week_id)
                    .then(function(response) {
                        $scope.weekChanged();
                    });
                };
                
                /*
                 * Call the default browser print function for printing
                 * the schedule.  The CSS media tag for print is used
                 * to adjust for report printing.
                 */
                $scope.print = function() {
                    window.print();
                };
            });
            
            $(document).ready(function () {

                //Validate admin rights
                $.ajax({
                    type: "POST",
                    url: "schedulesvc.php",
                    data: {'action': 'checkAdmin'},
                    dataType: "json",
                    success: function (response)
                    {
                        if(response.success != 'true')
                        {
                            window.location = "../../"
                        }
                        if(response.hasUnit == 'true')
                        {
                            $("#Unit_Reg").show();
                        }
                    }
                });
            });
            
            // Logout button click
            $('#btn_logout').click(function() {
                $.ajax({
                    type: "POST",
                    url: "../../registration/registrationsvc.php",
                    data: {'action': 'logout'},
                    dataType: "json",
                    success: function (response)
                    {
                        if(response.success == 'true')
                        {
                            window.location = "../../"
                        }
                    }
                });
            });
        </script>
    </body>
</html>