/* Validation */
input.ng-touched.ng-invalid {
        border-color: red;
    }

/* Header / Intro Block */
/* render html5 elements as block */
header, section {
	display: block;
	}
    
#intro {
	position: relative;
	margin-top: 25px;
	background: url("../images/FM_Header_No_Logo.png");
        background-repeat: no-repeat;
        
	/* background size */
        background-size: 100%;
	
	/* curved border radius */
	border-radius: 10px;
        
        width: 100%;
        height: 100%;
	}
        
#logo_container img {
        width: 10%;
        height: auto;
        float: right;
        position: absolute;
	bottom: 5px;
	right: 5px;
}
	
#intro h2, #intro p {
	position: relative;
	width: 500px;
	}
	
#intro h2 {
	padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 0px;
	font-weight: bolder;
	color: #fff;
	}
	
#intro p {
	padding: 0;
	color: #d6a965;
	}
	
        #error_msg h3 {
            color: #f00;
            text-align: right;
            margin-right: 10px;
        }
        
        #class_list_grid td {
            white-space: normal;
        }
        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0059b3;
}

.inline-form-group {
    margin-bottom: 15px;
    display: inline-block;
    padding-top: 15px;
}

.inline-form {
    display: unset;
    width: unset;
}

#btn_generate_schedule, #btn_print_schedule {
    font-size: 15px;
    line-height: 2;
}

.scout-schedule {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.scout-schedule td, .scout-schedule th {
    border: 1px solid #ddd;
    padding: 8px;
}

.scout-schedule tr:nth-child(even){background-color: #f2f2f2;}

.scout-schedule tr:hover {background-color: #ddd;}

.scout-schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 66, 133, 1);
    color: white;
}

.unit-schedule {
    padding-bottom: 15px;
}

@media (max-width: 1000px) {
    
    /* intro */

    #intro h2, #intro p {
        position: relative;
        width: 100%;
        font-size: 20px;
    }

    #intro h2 {
        padding: 0 0 5px 0;
        font-weight: bolder;
        color: #fff;
    }

    #intro p {
        padding: 0;
        color: #d6a965;
    }
    
    #reg_title {
        font-size: 20px;    
    }
    
    body, select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

@media print {
    
.unit-schedule {
    page-break-after: always;
}

.dont-print {
    display: none;
}

} 